:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea {
  font-family: inherit;
}

textarea {
  resize: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-accent {
  color: var(--navy-blue);
}

.nav-list {
  display: none;
}

.header-address {
  display: none;
}

.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}

.mobile-menu-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.mobile-menu-close-icon {
  width: 24px;
  height: 24px;
  border: none;
  fill: #f4f4fd;
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover .mobile-menu-close-icon,
.mobile-menu-close-btn:focus .mobile-menu-close-icon {
  color: #404bbf;
  --close-cross-color: #ffffff;
}

.mobile-menu-nav {
  margin-top: 72px;
  margin-left: 16px;
  align-self: flex-start;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.mobile-menu-nav-link {
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: var(--iris);
}

.mobile-menu-nav-link.current {
  color: var(--iris);
}

.mobile-menu-bottom {
  margin-left: 16px;
  margin-bottom: 40px;
  align-self: start;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.mobile-menu-phone-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--iris);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-phone-link:hover,
.mobile-menu-phone-link:focus {
  color: var(--navy-blue);
}

.mobile-menu-email-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-email-link:hover,
.mobile-menu-email-link:focus {
  color: var(--ocean);
}

.mobile-menu-social-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.mobile-menu-social-icon {
  width: 40px;
  height: 40px;
  fill: #4d5ae5;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-hero {
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/background_sm.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 432px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 216px;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: var(--ocean);
}

.section-advantages {
  padding: 96px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.advantages__icon {
  display: none;
}

.section-team {
  background: var(--cloud);
  padding: 96px 0;
}

.item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.item-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.team-title,
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 428px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.team-image {
  display: block;
  width: 100%;
  height: auto;
}

.team-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--slate);
}

.social-media-list {
  display: flex;
  column-gap: 24px;
}

.social-media-icon,
.footer-social-icon {
  fill: var(--iris);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover .social-media-icon,
.social-media-link:focus .social-media-icon {
  fill: var(--green);
}

.section-portfolio {
  padding: 96px 0px;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: auto;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.overlay-text {
  width: 295px;
  height: 100%;
  margin: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.image-wrapper:hover .overlay {
  transform: translateY(0);
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  width: 100%;
  height: auto;
  padding: 32px 16px;
}

.page-footer {
  background: var(--navy-blue);
  padding: 96px 0px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
}

.footer-logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.footer-accent {
  color: var(--cloud);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  text-align: left;
}

.footer-social-wrapper,
.footer-logo-wrapper,
.footer-subscribe-wrapper {
  row-gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-icon {
  width: 100%;
  height: 100%;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon,
.mobile-menu-social-link:hover .mobile-menu-social-icon,
.mobile-menu-social-link:focus .mobile-menu-social-icon {
  fill: var(--green);
}

.social-media-link,
.footer-social-link,
.mobile-menu-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 16px;
}

.footer-subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);

  border: 1px solid var(--white);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: transparent;
  padding: 8px 16px;
}

.footer-subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white);
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border: 1px solid var(--green);
  outline: 1px solid var(--green);
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover {
  background-color: var(--green);
}

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
}

.mobile-menu.is-open {
  display: block;
}

.modal-backdrop.is-open {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  padding: 72px 16px 24px;
  background-color: var(--dairy);
  border-radius: 4px;
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.14),
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
}

.modal-close-icon {
  width: 24px;
  height: 24px;
  border: none;
  fill: #f4f4fd;
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  color: #404bbf;
  --close-cross-color: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
}

.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.modal-field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-input-wrapper {
  position: relative;
}

.modal-input {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 256px;
  height: 40px;
  padding-left: 34px;
}

.modal-input:hover,
.modal-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
}

.modal-input-wrapper:focus-within .modal-input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  padding: 8px 16px;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--iris);
  outline: transparent;
}

.modal-checkbox-field {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.modal-checkbox {
  width: 16px;
  height: 16px;
}

.modal-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  text-align: left;
}

.modal-privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}

.modal-submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin: 24px auto auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover {
  background-color: var(--ocean);
}

@media screen and (min-resolution: 192dpi) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/background_sm@2x.jpg");
  }
}

@media (min-width: 768px) {
  .header-nav {
    display: flex;
    align-items: center;
    column-gap: 120px;
  }

  .nav-list {
    display: flex;
    column-gap: 40px;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    transition: color 250ms ease-in-out;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: var(--ocean);
  }

  .nav-link.current {
    color: var(--ocean);
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--ocean);
  }

  .header-address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  .address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--slate);
  }
  .address-link:hover {
    color: var(--ocean);
  }

  .mobile-menu-open-btn {
    display: none;
  }

  .container {
    max-width: 768px;
  }

  .section-hero {
    min-height: 436px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/background_md.jpg");
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 24px;
  }

  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  .portfolio-list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 584px;
  }

  .footer-logo-wrapper {
    align-items: flex-start;
    width: 264px;
  }

  .footer-social-wrapper {
    align-items: flex-start;
  }

  .footer-subscribe-wrapper {
    width: 453px;
    align-items: flex-start;
  }

  .footer-subscribe-text {
    align-self: start;
  }

  .footer-subscribe-form {
    flex-direction: row;
    column-gap: 24px;
  }

  .footer-subscribe-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    border-radius: 4px;
  }

  .modal-input {
    width: 100%;
  }

  .modal-textarea {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/background_md@2x.jpg");
  }
}

@media (min-width: 1158px) {
  .header-nav {
    column-gap: 76px;
  }

  .address-list {
    flex-direction: row;
    column-gap: 40px;
  }

  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/background.jpg");
    min-height: 600px;
  }

  .advantages-list {
    justify-content: center;
    column-gap: 24px;
  }

  .advantages-item {
    width: calc((100% - (24px * 3)) / 4);
    max-width: 264px;
    align-items: flex-start;
    row-gap: 8px;
  }

  .advantages-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: var(--cloud);
  }

  .advantages__icon {
    display: block;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: left;
  }

  .item-description {
    font-weight: 400;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    align-items: baseline;
    flex-wrap: nowrap;
    max-width: 1158px;
    padding: 0;
    column-gap: 0;
  }
  .footer-logo-wrapper {
    margin-right: 120px;
  }

  .footer-social-wrapper {
    margin-right: 80px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .section-hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/background@2x.jpg");
  }
}
